In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read saved csv files
TrainVal     = pd.read_csv('0TrainVal.csv',index_col=0,parse_dates=True)

In [3]:
TrainVal

                       f1    f2    f3     f4    f5     f6
Timestamp
2017-08-17 00:00:00  46.0  38.0  43.9  121.0  65.0   87.0
2017-08-17 00:05:00  37.0  37.0  52.9  109.0  60.0   90.0
2017-08-17 00:10:00  45.0  43.0  39.0  105.0  61.0   87.0
2017-08-17 00:15:00  38.0  35.0  36.2  109.0  68.0  102.0
2017-08-17 00:20:00  36.0  30.0  30.0   94.0  61.0   93.0
...                   ...   ...   ...    ...   ...    ...
2018-03-04 23:35:00  46.0  41.0  70.0  118.0  64.0   52.0
2018-03-04 23:40:00  39.0  37.0  53.0   93.0  43.0   28.0
2018-03-04 23:45:00  48.0  54.0  45.0   94.0  39.0   16.0
2018-03-04 23:50:00  43.0  43.0  57.0  112.0  39.0   11.0
2018-03-04 23:55:00  46.0  38.0  58.0   98.0  42.0   12.0

[57600 rows x 6 columns]

# Split to Training and Test Data

In [4]:
len(TrainVal)

57600

In [5]:
final_2weeks = 4032
train_end = len(TrainVal) - final_2weeks

In [6]:
train_end

53568

In [7]:
train = TrainVal.iloc[:train_end]      # From 1st element to 53568
test = TrainVal.iloc[train_end:]       # From 53568 to end

In [8]:
train.tail()

                       f1    f2    f3     f4    f5    f6
Timestamp
2018-02-18 23:35:00  57.0  59.0  71.0  109.0  38.0   5.0
2018-02-18 23:40:00  35.0  32.0  74.0   96.0  33.0  31.0
2018-02-18 23:45:00  43.0  38.0  67.0  121.0  40.0   9.0
2018-02-18 23:50:00  41.0  40.0  60.0  116.0  44.0  13.0
2018-02-18 23:55:00  40.0  35.0  57.0  116.0  43.0   5.0

In [9]:
test.head()

                       f1    f2    f3     f4    f5   f6
Timestamp
2018-02-19 00:00:00  44.0  43.0  57.0   96.0  36.0  5.0
2018-02-19 00:05:00  37.0  33.0  51.0   81.0  31.0  5.0
2018-02-19 00:10:00  33.0  37.0  38.0   99.0  39.0  5.0
2018-02-19 00:15:00  36.0  26.0  42.0   82.0  29.0  5.0
2018-02-19 00:20:00  40.0  34.0  57.0  110.0  43.0  5.0

In [10]:
train.index

DatetimeIndex(['2017-08-17 00:00:00', '2017-08-17 00:05:00',
               '2017-08-17 00:10:00', '2017-08-17 00:15:00',
               '2017-08-17 00:20:00', '2017-08-17 00:25:00',
               '2017-08-17 00:30:00', '2017-08-17 00:35:00',
               '2017-08-17 00:40:00', '2017-08-17 00:45:00',
               ...
               '2018-02-18 23:10:00', '2018-02-18 23:15:00',
               '2018-02-18 23:20:00', '2018-02-18 23:25:00',
               '2018-02-18 23:30:00', '2018-02-18 23:35:00',
               '2018-02-18 23:40:00', '2018-02-18 23:45:00',
               '2018-02-18 23:50:00', '2018-02-18 23:55:00'],
              dtype='datetime64[ns]', name='Timestamp', length=53568, freq=None)

# Feature Scaling

In [11]:
# The scaler - for min-max scaling
from sklearn.preprocessing import MinMaxScaler

The MinMaxScaler from scikit-learn subtracts the minimum value and re-scales the the value range, rendering the variable values between 0 and 1.

In [12]:
# set up the scaler
scaler = MinMaxScaler()

# fit the scaler to the train set, it will learn the parameters
scaler.fit(train)

# transform train and test sets
train_scaled = scaler.transform(train)
test_scaled = scaler.transform(test)

In [13]:
# the scaler stores the maximum values of the features, learned from train set
scaler.data_max_

array([252., 342., 495., 628., 373., 357.])

In [14]:
# the scaler stores the minimum values of the features, learned from train set
scaler.data_min_

array([ 6.,  1.,  1., 10.,  2.,  2.])

In [15]:
l = ['f1','f2','f3','f4','f5','f6']

In [16]:
train_scaled = pd.DataFrame(train_scaled, columns=l)
test_scaled = pd.DataFrame(test_scaled, columns=l)

In [17]:
train_scaled.set_index(train.index,  inplace=True);
test_scaled.set_index(test.index,  inplace=True);

In [18]:
train.index

DatetimeIndex(['2017-08-17 00:00:00', '2017-08-17 00:05:00',
               '2017-08-17 00:10:00', '2017-08-17 00:15:00',
               '2017-08-17 00:20:00', '2017-08-17 00:25:00',
               '2017-08-17 00:30:00', '2017-08-17 00:35:00',
               '2017-08-17 00:40:00', '2017-08-17 00:45:00',
               ...
               '2018-02-18 23:10:00', '2018-02-18 23:15:00',
               '2018-02-18 23:20:00', '2018-02-18 23:25:00',
               '2018-02-18 23:30:00', '2018-02-18 23:35:00',
               '2018-02-18 23:40:00', '2018-02-18 23:45:00',
               '2018-02-18 23:50:00', '2018-02-18 23:55:00'],
              dtype='datetime64[ns]', name='Timestamp', length=53568, freq=None)

In [19]:
train_scaled

,f1,f2,f3,f4,f5,f6
Timestamp,,,,,,
2017-08-17 00:00:00,0.162602,0.108504,0.086842,0.179612,0.169811,0.239437
2017-08-17 00:05:00,0.126016,0.105572,0.105061,0.160194,0.156334,0.247887
2017-08-17 00:10:00,0.158537,0.123167,0.076923,0.153722,0.159030,0.239437
2017-08-17 00:15:00,0.130081,0.099707,0.071255,0.160194,0.177898,0.281690
2017-08-17 00:20:00,0.121951,0.085044,0.058704,0.135922,0.159030,0.256338
...,...,...,...,...,...,...
2018-02-18 23:35:00,0.207317,0.170088,0.141700,0.160194,0.097035,0.008451
2018-02-18 23:40:00,0.117886,0.090909,0.147773,0.139159,0.083558,0.081690
2018-02-18 23:45:00,0.150407,0.108504,0.133603,0.179612,0.102426,0.019718
2018-02-18 23:50:00,0.142276,0.114370,0.119433,0.171521,0.113208,0.030986
2018-02-18 23:55:00,0.138211,0.099707,0.113360,0.171521,0.110512,0.008451

In [20]:
test_scaled

,f1,f2,f3,f4,f5,f6
Timestamp,,,,,,
2018-02-19 00:00:00,0.154472,0.123167,0.113360,0.139159,0.091644,0.008451
2018-02-19 00:05:00,0.126016,0.093842,0.101215,0.114887,0.078167,0.008451
2018-02-19 00:10:00,0.109756,0.105572,0.074899,0.144013,0.099730,0.008451
2018-02-19 00:15:00,0.121951,0.073314,0.082996,0.116505,0.072776,0.008451
2018-02-19 00:20:00,0.138211,0.096774,0.113360,0.161812,0.110512,0.008451
...,...,...,...,...,...,...
2018-03-04 23:35:00,0.162602,0.117302,0.139676,0.174757,0.167116,0.140845
2018-03-04 23:40:00,0.134146,0.105572,0.105263,0.134304,0.110512,0.073239
2018-03-04 23:45:00,0.170732,0.155425,0.089069,0.135922,0.099730,0.039437
2018-03-04 23:50:00,0.150407,0.123167,0.113360,0.165049,0.099730,0.025352
2018-03-04 23:55:00,0.162602,0.108504,0.115385,0.142395,0.107817,0.028169

In [21]:
type(test_scaled.index)

pandas.core.indexes.datetimes.DatetimeIndex

# Save Data and Scaler

In [22]:
import joblib

In [23]:
scaler_filename = "scaler.save"
joblib.dump(scaler, scaler_filename)

['scaler.save']

In [24]:
train.to_csv('01train.csv')
test.to_csv('01test.csv')

In [25]:
train_scaled.to_csv('01train_scaled.csv')
test_scaled.to_csv('01test_scaled.csv')